@charset "utf-8";

section{
  display:block;
  height:150px;
}

section h2{
  border-bottom:1px solid #dddddd;
}


.sticker{
  width:50px;
  height:50px;
  float:left;
}

.my-wife .sticker-img{
  background-image:url(../img/nozomi.png);
  background-repeat:no-repeat;
  background-color:white;
} 
.kuroko .sticker-img{
  background-image:url(../img/kuroko.png);
  background-repeat:no-repeat;
  background-color:white;
} 
.kuroneko .sticker-img{
  background-image:url(../img/kuroneko.png);
  background-repeat:no-repeat;
  background-color:white;
} 

.syaro .sticker-img{
  background-image:url(../img/sharo.png);
  background-repeat:no-repeat;
  background-color:white;
} 
.anzu .sticker-img{
  background-image:url(../img/anzu.png);
  background-repeat:no-repeat;
  background-color:white;
} 
.sagiri .sticker-img{
  background-image:url(../img/sagiri.png);
  background-repeat:no-repeat;
  background-color:white;
} 
.ayase .sticker-img{
  background-image:url(../img/ayase.png);
  background-repeat:no-repeat;
  background-color:white;
} 
.siro .sticker-img{
  background-image:url(../img/siro.png);
  background-repeat:no-repeat;
  background-color:white;
} 
